@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  text-align: center;

}

a, li {
  margin: auto 0.7rem;
}


.data {
  padding: 50px 0 150px;
}

.data img {
  height: 200px;
}

#detail {
  margin: auto;
}