@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


body {
  font-family: "Roboto", sans-serif;
  text-align: center;

}

a, li {
  margin: auto 0.7rem;
}


.data {
  padding: 50px 0 150px;
}

.data img {
  height: 200px;
}

#detail {
  margin: auto;
}

h1, h2, h3 {
  font-weight: medium;
}