@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  color: white;
}

nav {
  display: flex;
  max-height: 50px;
  background-color: white;
  color: black;
}

img {
  max-height: 40px;
}

a {
  margin: auto;
}
