@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

main {
  text-align: center;
}

a {
  margin: auto 10vw;
}


.data {
  padding: 50px 0 150px;
}

.data img {
  height: 200px;
}
